.seccion-categoria__image {
    width: 6.3rem;
    height: 4.6rem;
  }
  
  .seccion-categoria__title {
    color: white;
    text-transform: uppercase;
    font-size: 2rem;
  }
  .seccion-categoria__link{
     text-decoration: none;
     color: #000000;
  }
  
  .seccion-categoria--bg-rojo-oscuro {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 22.5rem;
    height: 6rem;
    border-radius: 0.5rem;
    margin-bottom: 1.5rem;
    background-color: #E93E30;
  }
  .seccion-categoria--bg-amarillo-dorado{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 22.5rem;
    height: 6rem;
    border-radius: 0.5rem;
    margin-bottom: 1.5rem;
    background-color: #F7E018;
  }
  
  .seccion-categoria--bg-azul-claro{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 22.5rem;
    height: 6rem;
    border-radius: 0.5rem;
    margin-bottom: 1.5rem;
    background-color: #299ED5 ;
  }
  
  .seccion-categoria--bg-gris-oscuro{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 22.5rem;
    height: 6rem;
    border-radius: 0.5rem;
    margin-bottom: 1.5rem;
    background-color: #292C33;
  }
  
  .seccion-categoria--bg-verde-claro{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 22.5rem;
    height: 6rem;
    border-radius: 0.5rem;
    margin-bottom: 1.5rem;
    background-color: #67C770;
  }
  
  .seccion-categoria--bg-morado-oscuro{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 22.5rem;
    height: 6rem;
    border-radius: 0.5rem;
    margin-bottom: 1.5rem;
    background-color: #563D7C;
  }
  
