.subscripcion{
    padding: 3rem;
 
}
.componentes-subscripcion{
    background-color:rgb(97, 149, 19);
    padding: 2rem;
    width: 50%;
    margin: 0 auto;
    border-radius: 5px;
}
.componentes-subscripcion__1erparrafo{
    color: #ffff;
    font-size: 1.1rem;
    font-weight: bold;
}
.componentes-subscripcion__2doparrafo{
    color: #ffff;
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.formulario__input {
  padding: 0.4rem;
  border-radius: 5px;
  width: 19rem;
}